{% extends "index.html" %}
{% load url from future %}
{% load i18n %}
{% load url from future %}

{% block description %}{% blocktrans %}SoftGIS service for participative urban planning{% endblocktrans %}{% endblock %}

{% block css %}
    
<link href="https://fonts.googleapis.com/css?family=Glegoo|Signika+Negative:300,400|Bitter|Radley|Enriqueta|Ruda" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/openlayers.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/base_map.css" />
<style type="text/css">
.base_bgcolor {
    background-color: {% if org_settings %}{{ org_settings.background_color }};{% else %}#e8ae6a;{% endif %}
}
.base_textcolor_bg {
    background-color: {% if org_settings %}{{ org_settings.text_color }};{% else %}#e8ae6a;{% endif %}
}
.base_textcolor {
    color: {% if org_settings %}{{ org_settings.text_color }};{% else %}#e8ae6a;{% endif %}
}
* {
	font-family: 	{% if org_settings.font %}
		                {{ org_settings.font|safe }} !important;
		            {% else %}
		            	'Enriqueta', serif;
		            {% endif %}
}
.ui-widget, form.popupform , div.popup_feature_buttons {
	font-size: 	{% if org_settings.font_size %}
		                {{ org_settings.font_size|safe }} !important;
		            {% else %}
		            	1.0em;
		            {% endif %}
}
output { 
      position: absolute;
      background-image: -moz-linear-gradient(top, #444444, #999999);
      background-image: -o-linear-gradient(top, #444444, #999999);
      background-image: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#999999));
      background-image: -webkit-linear-gradient(top, #444444, #999999);
      width: 40px; 
      height: 30px; 
      text-align: center; 
      color: white; 
      border-radius: 10px; 
      display: inline-block; 
      font: bold 15px/30px Georgia;
      bottom: 175%;
      left: 43%;
      margin-left: -1%;
    }
output:after { 
	    content: "";
	    position: absolute;
	    width: 0;
	    height: 0;
	    border-top: 10px solid #999999;
	    border-left: 5px solid transparent;
	    border-right: 5px solid transparent;
	    top: 100%;
	    left: 50%;
	    margin-left: -5px;
	    margin-top: -1px;
	  }

</style>

{% block stylesheet %}
{% endblock %}

{% endblock %}

{% block body_class %}base_map base_bgcolor{% endblock %}

{% block header %}
<div class="span_left">
    {% if LOGO_FILENAME != "" %}
    <a href="{% url 'dashboard' %}"><img src="{{STATIC_URL}}img/{{LOGO_FILENAME}}" /></a>
    {% else %}
    <div id="city_logo">
        <div id="city_name" class="base_textcolor" onclick="window.location = '{% url 'dashboard' %}'">

        <img alt="softgis" src="{{ STATIC_URL }}img/bubble.svg" height="17" width="16" />
        <!--<img alt="pehmogis" src="{{ STATIC_URL }}img/pehmogis-logo.png" height="22" width="82" />-->

        {% if org_settings %}
            {{ org_settings.organization_name}}
        {% else %}
            {% trans "City" %}
        {% endif %}


        </div>
        <div id="blurb">
            {% if org_settings %}
                {{ org_settings.blurb }}
            {% else %}
                {% trans "Help us improve our city" %}
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>
<div class="span_right hidden_for_small">
    {% if request.META.HTTP_HOST == "demo.asiatkartalle.fi" %}
    <div style="float:left">
        <a href="/questionnaire_admin/">Kokeile hallintatyökalua!</a>
    </div>
    {% endif %}
    <div id="provider">
        {% trans "Provided by" %}
        <a href="{{ org_settings.provider_url }}" target="_blank">
            {% if org_settings %}
                {{ org_settings.provider }}
            {% else %}
                Geonition {% now "Y" %}
            {% endif %}
        </a>
    </div>
    {% if user.is_authenticated and user.has_usable_password %}
    <table class="auth_container">
        <tr>
            <td>
                {% trans "Hello"%} {{ user }}!
            </td>
            <td>
                <a href="{% url 'profile' %}?next={{ request.path }}">
                    {% trans "profile" %}
                </a>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <a href="{% url 'logout' %}?next={{ request.path }}">
                    {% trans "sign out" %}
                </a>
            </td>
        </tr>
    </table>
    {% else %}
    <div class="login">
        {% if USER_REGISTRATION_ENABLED %}
            <a href="{% url 'login' %}?next={{ request.path }}">{% trans 'sign in' %}</a>
            {% trans "or" %}
            <a href="{% url 'register' %}?next={{ request.path }}">{% trans 'register' %}
            {% trans "as a user" %}</a>

        {% else %}
            {% trans "Admin," %}
            <a href="{% url 'login' %}?next={{ LOGIN_REDIRECT_URL }}">{% trans 'sign in' %}</a>
        {% endif %}
    </div>
    {% endif %}
{% comment %}
    <div id="languages">
        {% if LANGUAGES|length > 1 %}
            {% trans "Change language:" %}<br />
            {% for lang in LANGUAGES %}
                {% ifnotequal LANGUAGE_CODE lang.0 %}
                    <a href="{% url 'set_language' %}?lang={{ lang.0 }}">
                        {{ lang.1 }}
                    </a>
                {% endifnotequal %}
            {% endfor %}
        {% endif %}
    </div>
{% endcomment %}
    <div>
        <a id="feedback" href="{% url 'feedback' %}?next={{ request.path }}">
            {% trans "Give feedback for the service" %}
        </a>
    </div>
</div>
{% endblock header %}

{% block main %}
<div class="span_left">
    <div id="content">
        {% block content %}
        {% endblock %}
        <!--
        <div id="search_form">
    	<form name="search_form" action="javascript: geolocate(document.search_form.query.value);" method="post">
    		<label for="query">Search for address:</label> 
    		<input type="text" id="query" size=50 name="query" value="Rue des Berges 37 Payerne"/>
    		<input type="submit" value="Submit"/>
		</form>
    	</div>-->
    </div>
</div>
<div class="span_right">
    {% block map %}
        <div id="map">
    </div>
    {% endblock %}
</div>
<div id="settings" class="hidden_for_large">
    {% block settings %}
    
    {% if user.is_authenticated and user.has_usable_password %}
    <p>        
    {% trans "Hello"%} {{ user }}!
    <br />
    <a href="{% url 'logout' %}?next={{ request.path }}">
        {% trans "sign out" %}
    </a>
    </p>
    <p>{% trans "Change language of the service to" %}:
    {% for lang in LANGUAGES %}
        {% ifnotequal LANGUAGE_CODE lang.0 %}
            <a href="{% url 'set_language' %}?lang={{ lang.0 }}">
                {{ lang.1 }}
            </a>
        {% endifnotequal %}
    {% endfor %}
    </p>
    
    <p>
    {% trans "Change your profile settings from here:" %}
    <a href="{% url 'profile' %}?next={{ request.path }}">
        {% trans "profile" %}
    </a>
    </p>
    
    {% else %}
    <p>
        <a href="{% url 'login' %}?next={{ request.path }}">{% trans 'sign in' %}</a>
        {% trans "or" %}
        <a href="{% url 'register' %}?next={{ request.path }}">{% trans 'register' %}</a>
        {% trans "as a user" %}
    </p>
    {% endif %}
    
    <p>
        <a href="{% url 'feedback' %}?next={{ request.path }}">
            {% trans "Give feedback for the service" %}
        </a>
    </p>
    
    <p>
        {% trans "This serivce is provided by" %}
        <a href="{{ org_settings.provider_url }}" target="_blank">
            {% if org_settings %}
                {{ org_settings.provider }}
            {% else %}
                Geonition {% now "Y" %}
            {% endif %}
        </a>
    </p>
    {% endblock settings %}
</div>
{% endblock main %}

{% block footer %}
<!-- for mobile devices -->
<div class="hidden_for_large">
    <ul class="nav">
        <li class="main">
            <a onClick="$('body').removeClass('main map settings');$('body').addClass('main');">{% trans "Main" %}</a>
        </li>
        <li class="map">
            <a onClick="$('body').removeClass('main map settings');$('body').addClass('map');">{% trans "Map" %}</a>
        </li>
        <li class="settings">
            <a onClick="$('body').removeClass('main map settings');$('body').addClass('settings');">{% trans "Settings" %}</a>
        </li>
    </ul>
</div>

<!-- for bigger displays -->
    {% comment %}
<div class="span_left hidden_for_small">
    <a id="feedback" href="{% url 'feedback' %}?next={{ request.path }}">
        {% trans "Give feedback for the service" %}
    </a>
</div>
<div class="span_right hidden_for_small">
    
    <div id="provider">
        <a href="{{ org_settings.provider_url }}" target="_blank">
            {% if org_settings %}
                {{ org_settings.provider }}
            {% else %}
                Geonition {% now "Y" %}
            {% endif %}
        </a>
    </div>
    <div class="social_networks">
        <div class="g-plusone" data-size="medium" data-annotation="bubble" data-href="http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}{{ request.path }}"></div>
        <script type="text/javascript">
          window.___gcfg = {lang: '{{ LANGUAGE_CODE }}'};
          
          (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
          })();
        </script>
        <!--[if !IE]> -->
        <iframe src="https://platform.twitter.com/widgets/tweet_button.html?lang={{ LANGUAGE_CODE }}%26url=https%3A%2F%2F{{ request.get_host }}{{ request.path }}%26counturl=https%3A%2F%2F{{ request.get_host }}%26size=small"
        style="width: 100px; height:20px; border: 0; overflow: hidden; background-color: transparent;"></iframe>
        <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2F{{ request.get_host }}{{ request.path }}&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=verdana&amp;height=21" 
        style="border:none; overflow:hidden; width: 100px; height:21px; background-color: transparent"></iframe>
        <!-- <![endif]-->
    </div>
</div>
    {% endcomment %}
{% endblock footer %}
