{% load i18n %}
<!doctype html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
    <head>
        <!--[if lt IE 9]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
        <meta charset="utf-8">

        <title>
            {% if city_settings %}
            {{ city_settings.title }}
            {% else %}
            Test Page
            {%endif%}
        </title>

        <link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/base_map.css">

        <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.gif" type="image/x-icon" />
        {% block stylesheet %}
        {% endblock %}
        <style type="text/css">
        .bgcolor {
            background-color: {% if city_settings %}
                    {{ city_settings.background_color }};
                {% else %}
                    #e8ae6a;
                {% endif %}
        }
        .textcolor {
            color: {% if city_settings %}
                        {{ city_settings.text_color }};
                    {% else %}
                        #e8ae6a;
                    {% endif %}
        }

        </style>

        <!--<script src="{{ STATIC_URL }}javascript/modernizr-2.5.2.min.js"></script>-->
        <!--[if lt IE 9]>
            <script>
            document.createElement('header');
            document.createElement('footer');
            </script>
        <![endif]-->

    </head>
    <body class="bgcolor {% block body_class %}{% endblock %}">
    <!--[if lt IE 7]><p class=chromeframe>{% trans "Your browser is" %} <em>{% trans "ancient" %}!</em> <a href="http://browsehappy.com/">{% trans "Upgrade to a different browser" %}</a> {% trans "or" %} <a href="http://www.google.com/chromeframe/?redirect=true">{% trans "install Google Chrome Frame" %}</a> {% trans "to experience this site" %}.</p><![endif]-->

        <header>
            <div class="left">
                <div id="city_logo">
                    <div id="city_name" class="textcolor">
                        {% if city_settings %}
                            {{ city_settings.city_name}}
                        {% else %}
                            {% trans "City" %}
                        {% endif %}
                    </div>
                    <div id="blurb">
                        {% if city_settings %}
                            {{ city_settings.blurb }}
                        {% else %}
                            {% trans "Help us improve our city" %}
                        {% endif %}
                    </div>
                </div>
            </div> <!-- left -->
            <div class="right">
                <div id="languages">
                    {% for lang in LANGUAGES %}
                        {% ifnotequal LANGUAGE_CODE lang.0 %}
                        <a href="{% url set_language %}?lang={{ lang.0 }}">
                            {% trans "in" %} {{ lang.1 }}
                        </a>
                        {% endifnotequal %}
                    {% endfor %}
                </div>
            </div>
        </header>
        <div id="main">
            <div class="bleft">
                <div id="content">
                    {% block content %}
                    some content can be added here
                    {% endblock %}
                </div>
            </div>
            <div class="bright">
                <div id="map">
                </div>
            </div>
        </div>
        <footer>
            <div class="left">
                <a id="feedback" href="{% url feedback %}" target="_blank">
                    {% trans "Give feedback for the service" %}
                </a>
            </div>
            <div class="right">
                <div id="provider">
                    <a href="{{ city_settings.provider_url }}" target="_blank">
                        {% if city_settings %}
                            {{ city_settings.provider }}
                        {% else %}
                            Geonition {% now "Y" %}
                        {% endif %}
                    </a>
                </div>
                <div id="logo">
                    <img alt="pehmogis" src="{{ STATIC_URL }}images/pehmogis-logo.png" height="22" width="82" />
                </div>
            </div>
        </footer>
        {% block javascript %}
        {% endblock %}
    </body>
</html>
