{% extends "index.html" %}
{% load i18n %}

{% block css %}

{% block stylesheet %}
{% endblock %}

<link rel="stylesheet" href="{{ STATIC_URL }}css/base_map.css">
<style type="text/css">
.base_bgcolor {
    background-color: {% if city_settings %}
                        {{ city_settings.background_color }};
                    {% else %}
                        #e8ae6a;
                    {% endif %};
    color: white;
}
.base_textcolor {
    color: {% if city_settings %}
                {{ city_settings.text_color }};
            {% else %}
            #e8ae6a;
            {% endif %}
}
</style>
{% endblock %}

{% block body_class %}
base_map base_bgcolor
{% endblock %}

{% block header %}
<div class="span_left">
    <div id="city_logo">
        <div id="city_name" class="base_textcolor">

        <img alt="pehmogis" src="{{ STATIC_URL }}img/pehmogis-logo.png" height="22" width="82" />

        {% if city_settings %}
            {{ city_settings.city_name}}
        {% else %}
            {% trans "City" %}
        {% endif %}


        </div>
        <div id="blurb">
            {% if city_settings %}
                {{ city_settings.blurb }}
            {% else %}
                {% trans "Help us improve our city" %}
            {% endif %}
        </div>
    </div>
</div>
<div class="span_right">
    {% if user.is_authenticated and user.has_usable_password %}
    <table class="auth_container">
        <tr>
            <td>
                {% trans "Hello"%} {{ user }}!
            </td>
            <td>
                <a href="{% url profile %}?next={{ request.path }}">
                    {% trans "profile" %}
                </a>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <a href="{% url logout %}?next={{ request.path }}">
                    {% trans "sign out" %}
                </a>
            </td>
        </tr>
    </table>
    {% else %}
    <div class="login">
        <a href="{% url login %}?next={{ request.path }}">{% trans 'sign in' %}</a>
        {% trans "or" %}
        <a href="{% url register %}?next={{ request.path }}">{% trans 'register' %}</a>
        {% trans "as a user" %}
    </div>
    {% endif %}
    <div id="languages">
        {% for lang in LANGUAGES %}
            {% ifnotequal LANGUAGE_CODE lang.0 %}
                <a href="{% url set_language %}?lang={{ lang.0 }}">
                    {{ lang.1 }}
                </a>
            {% endifnotequal %}
        {% endfor %}
    </div>
</div>
{% endblock header %}

{% block main %}
<div class="span_left">
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</div>
<div class="span_right">
    <div id="map">
        {% block map %}
        {% endblock %}
    </div>
</div>
{% endblock main %}

{% block footer %}
<div class="span_left">
    <a id="feedback" href="{% url feedback %}?next={{ request.path }}">
        {% trans "Give feedback for the service" %}
    </a>
</div>
<div class="span_right">
    <div id="provider">
        <a href="{{ city_settings.provider_url }}" target="_blank">
            {% if city_settings %}
                {{ city_settings.provider }}
            {% else %}
                Geonition {% now "Y" %}
            {% endif %}
        </a>
    </div>
</div>
{% endblock footer %}
