{% extends "base_map.html" %}
{% load i18n %}
{% block map %}
<div class="center">
    <form name="feedback" action="{% url feedback %}" method="post">
        <h1>{% trans "Palautetta" %}</h1>

        <p>
        {% trans "You can write your feedback in the textbox below" %}
        </p>
        {% csrf_token %}
        {{ form.content.errors }}
        {{ form.content }}
        <br />
        <input type="hidden" name="next" value="{{ next }}" />
        <input type="hidden" name="site" value="{{ site }}" />
        <input type="submit" name="submit" value="{% trans 'Send feedback' %}" />
    </form>
</div>
{% endblock %}
