<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ LANGUAGE_CODE }}"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="{{ LANGUAGE_CODE }}"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="{{ LANGUAGE_CODE }}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ LANGUAGE_CODE }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  
  <title>{{ city_settings.title }}</title>
  <meta name="description" content="{% block description %}{% endblock %}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" /> 
  
  <link rel="icon" type="image/gif" href="{{ STATIC_URL }}img/favicon.gif" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />

  {% block css %}
  {% endblock %}

  <script src="{{ STATIC_URL }}js/libs/modernizr.custom.43051.js"></script>
</head>
<body class="{% block body_class %}{% endblock %} main">
  <!--[if lt IE 8]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  <header>
  {% block header %}
  {% endblock %}
  </header>
  <div id="main" role="main">
  {% block main %}
  {% endblock %}
  </div>
  <footer>
  {% block footer %}
  {% endblock %}
  </footer>

  {% block javascript %}
  {% endblock %}

  <script>
  {% block google_analytics %}
      {% include ANALYTICS_TEMPLATE %}
  {% endblock %}
  
  //OpenLayers image path
  OpenLayers.ImgPath = "{{ STATIC_URL }}img/";
  </script>
</body>
</html>
