<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ LANGUAGE_CODE }}"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="{{ LANGUAGE_CODE }}"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="{{ LANGUAGE_CODE }}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ LANGUAGE_CODE }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  
  <title>{{ org_settings.title }}</title>
  <meta name="description" content="{% block description %}{% endblock %}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" /> 
  
  <link rel="icon" type="image/gif" href="{{ STATIC_URL }}img/favicon.gif" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />
  <link href="{{ STATIC_URL }}css/ui-lightness/jquery-ui-1.8.23.custom.css" rel="stylesheet" type="text/css" />

  {% block css %}
  {% endblock %}

  <script src="{{ STATIC_URL }}js/libs/modernizr.custom.90568.js"></script>
</head>
<body class="{% block body_class %}{% endblock %} main">
  <!--[if lt IE 8]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  <header>
  {% block header %}
  {% endblock %}
  </header>
  <div id="main" role="main">
  {% block main %}
  {% endblock %}
  </div>
  <footer class="hidden_for_large">
  {% block footer %}
  {% endblock %}
  </footer>
  
  <script src="{{ STATIC_URL }}js/libs/jquery-1.8.2.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
  
  {% block javascript %}
  {% endblock %}

  <script>
  {% block google_analytics %}
      {% include ANALYTICS_TEMPLATE %}
  {% endblock %}
  
  //OpenLayers image path
  OpenLayers.ImgPath = "{{ STATIC_URL }}img/";
    // Add gradient
    $(document).ready(function(){
        var new_components = color_components = $('.base_bgcolor').css('background-color');
        old_components = color_components.match(/\d+/g);
        var darker,original;
        for (i=0;i<old_components.length;i++){
            original = parseInt(old_components[i]);
            darker = original > 30 ? original - 30 : 0;
            new_components = new_components.replace(original,darker);
        }
        $('.base-gradient').css('background','linear-gradient(' + new_components + ',' + color_components + ')');
        $('body').css('background','linear-gradient(' + new_components + ',' + color_components + ')');
        $('.base_bgcolor').css('background-color',new_components);
    });

  </script>
</body>
</html>
