/*
 THE MAIN STYLE
*/
html {
    overflow: hidden;
}
body {
    margin: 0px;
    height: 100%;
    width: 100%;
    font-family: 'Enriqueta', serif;
    font-weight: 400;
    font-size: 1em;
    color: #646464;
}

.ui-widget {
    font-size: 0.8em !important;
    font-family: 'Enriqueta', serif !important;
}

.span_left {
    float: left;
    width: 370px;
    height: 100%;
}
.span_right {
    position: absolute;
    left: 370px;
    right: 0px;
    height: 100%;
}
@media (min-width: 1110px) and (max-width:1536px) {
    .span_left {
        width: 33.33%;
    }
    .span_right {
        left: 33.33%;
    }
}
@media (min-width: 1536px) {
    .span_left {
        width: 512px;
    }
    .span_right {
        left: 512px;
    }
}

header {
    height: 56px;
    overflow: hidden;
    width: 100%;
}

header .span_left {
    background-color: white;
    overflow: hidden;
}

header .span_right {
    height: 56px;
    color: white;
}

.base_map header .span_right a {
    color: #ffffff;
}

.base_map header .span_right a:visited {
    color: #ffffff;
}

header .auth_container {
    float: right;
}

header .auth_container td {
    padding: 1px;
}

.base_map header .span_left {
    border-top-right-radius: 70px 70px;
}
.base_page header #languages {
    margin-right: 100px;
}

#city_logo {
    position: relative;
    font-family: sans-serif;
    left: 2.2em;
    width: 300px;
    padding: 2px;
}

#city_name {
    position: relative;
    right: 16px;
    font-size: 1.875em;
    cursor: pointer;
}
#city_name img {
    position: relative;
    bottom: 0.4em;
    left: 0.2em;
}
#blurb {
    font-size: 0.675em;
    color: #C0C0C0;
    font-weight: bold;
    position: relative;
    bottom: 0.3em;
    left: 1.1em;
}
/* svg image used so fix for lt-ie9*/
.lt-ie9 #city_name {
    right: 0;
}
.lt-ie9 #city_name img {
    display: none;
    visibility: hidden;
}
.lt-ie9 #blurb {
    left: 0;
}


header .span_right {
    padding: 5px;
}
header .span_right .login {
    display: inline-block;
    width: 100px;
    float: right;
    font-size: 0.75em;
}

#languages {
    width: 100px;
    float: right;
    font-size: 0.75em;
    margin-right: 20px;
}

#languages a {
    display: block;
}

#main {
    position: absolute;
    bottom: 0px;
    top: 56px;
    width: 100%;
    background-color: white;
    /*border-bottom-left-radius: 70px 70px;*/
    overflow: hidden;
}

#main .span_left {
    overflow-y: auto;
    overflow-x: hidden;
}

#content {
    background-color: white;
    margin-top: 2em;
    margin-bottom: 2em;
}
#content p {    
    padding-right: 10px;
    padding-left: 42px;
    font-family: 'Enriqueta', serif;
    font-weight: 400;
    font-size: 1em;
    color: #646464;
}
#content label {
    font-family: 'Enriqueta', serif;
    font-weight: 400;
    font-size: 1em;
    color: #646464;
}
#content h2 {
    padding: 0px;
    margin: 0px;
    text-transform: uppercase;
    font-size: 1.2em;
    font-family: 'Signika Negative', sans-serif;
    font-weight: 200;
}
#content h3 {
    padding: 0px;
    margin: 0px;
    font-family: 'Enriqueta', serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1em;
}
#content h4 {
    padding-left: 42px;
    text-transform: uppercase;
    font-size: 1.1em;
    font-family: 'Signika Negative', sans-serif;
    font-weight: 200;
}

#map {
    background-color: #f1f7e6;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
/* ie 7 fix for openlayers */
.lt-ie8 .olMapViewport {
    position: absolute !important;
}

#map div.olControlZoom{
    top: 20px;
}
.olControlAttribution, .olLayerGoogleCopyright {
    top: 0;
    position: absolute;
    bottom: auto !important;
}
.olLayerGoogleV3.olLayerGooglePoweredBy {
    top: 15;
    position: absolute;
    bottom: auto !important;
}

footer {
    position: absolute;
    bottom: 0%;
    height: 40px;
    overflow: hidden;
    width: 100%;
}
footer .span_left {
    padding: 0.6em;
    width: auto;
}
footer .span_right {
    left: auto;
}
footer a {
    color: #ffffff;
}
footer a:visited {
    color: #ffffff;
}

#feedback {
    float: right;
    color: white;
    margin-right: 20px;
    font-size: 0.75em;
}

footer .span_right {
    padding: 10px;
}

#logo {
    float: right;
    max-width: 82px;
    max-height: 22px;
    padding-right: 10px;
}

#provider {
    float: right;
    margin-right: 20px;
    margin-left: 20px;
    color: white;
    font-size: 0.85em;
}
.center {
    width: 50%;
    margin: 0 auto;
}

/* breadcrumbs */
ul.breadcrumb {
    padding: 0px;
    height: 36px;
    white-space: nowrap;
    background-color: white;
}
ul.breadcrumb li {
    display: inline-block;
    text-transform: uppercase;
    vertical-align: middle;
    font-family: 'Enriqueta', serif;
    font-weight: 400;
    font-size: 16px;
    padding-top: 7px;
    padding-bottom: 7px;
}
ul.breadcrumb li a {
    text-decoration: none;
    color: white;
}
ul.breadcrumb li.disk {
    background-image: url("../img/dashdisk_hover.png");
    background-repeat: no-repeat;
    background-position: -8px;
    padding-left: 35px;
    padding-right: 2px;
    color: white;
}
ul.breadcrumb li.hover {
    cursor: pointer;
}
ul.breadcrumb li.hover:hover {
    background-image: url("../img/dashdisk_base.png");
}
ul.breadcrumb li.active {
    position: relative;
    right: 15px;
}
ul.breadcrumb li.separator {
    border-width: 18px;
    border-style: solid;
    border-color: white white white transparent;
    padding: 0;
    position: relative;
    right: 4px;
}
/*TOOLTIP used by e.g. questionnaires and plan proposal pages */
.tooltip {
    position: absolute;
    z-index: 999;
    top: 57px;
    left: 57px;
    background-color: white;
    border-radius: 0.5em;
    padding: 0.2em;
    border: 1px solid red;
    text-align: center;
    max-width: 15em;
}

.social_networks {
    float: right;
    margin-right: 2em;
}

/* hide for large */
.hidden_for_large {
    display: none;
}

/* hide settings always exept for mobile devices */
#settings {
    display: none;
}
@media screen and (max-width:767px) {
    .span_left {
        float: none;
        width: 100%;
    }
    .span_right {
        width: 100%;
    }
    /* remove rounded border */
    #main {
        border-bottom-left-radius: 0 0;
        bottom: 40px;
    }
    /* hide for small */
    .hidden_for_small {
        display: none;
    }
    .hidden_for_large {
        display: inherit;
    }
    header .span_right {
        display: none;
    }
    footer ul.nav {
        position: absolute;
        bottom: 0;
        height: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        white-space: nowrap;
    }
    footer ul li {
        float: left;
        padding: 10px 0 10px 0;
        width: 33%;
        text-align: center;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(255,255,255,0.5);
        /* gradient for all */
        background-image: linear-gradient(bottom, rgba(100,100,100,0.1) 29%, rgba(120,120,120,0.3) 65%);
        background-image: -o-linear-gradient(bottom, rgba(100,100,100,0.1) 29%, rgba(120,120,120,0.3) 65%);
        background-image: -moz-linear-gradient(bottom, rgba(100,100,100,0.1) 29%, rgba(120,120,120,0.3) 65%);
        background-image: -webkit-linear-gradient(bottom, rgba(100,100,100,0.1) 29%, rgba(120,120,120,0.3) 65%);
        background-image: -ms-linear-gradient(bottom, rgba(100,100,100,0.1) 29%, rgba(120,120,120,0.3) 65%);
    
    }
    footer ul li.map {
        position: absolute;
        margin: 0 auto;
        left: 33%;
        right: 33%;
    }
    footer ul li.settings {
        float: right;
    }
    /* choose the section with css class */
    .main footer ul li.main {
        background-image: none;
        text-decoration: none;
        color: white;
    }
    .map footer ul li.map {
        background-image: none;
        text-decoration: none;
        color: white;
    }
    .map #main .span_left {
        display: none;
    }
    .map #main .span_right {
        left: 0;
    }
    .settings #main .span_left {
        display: none;
    }
    .settings #main .span_right {
        display: none;
    }
    .settings footer ul li.settings {
        background-image: none;
        text-decoration: none;
        color: white;
    }
    .settings #settings {
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
    }
}

/*
mobiles and below
*/
@media (max-width:480px) {
    #content p {
        padding-left: 10px;
    }
    #content h4 {
        padding-left: 10px;
    }
    #city_logo {
        left: 1em;
    }
}

