/*
 THE MAIN STYLE
*/
html {
    overflow: hidden;
}
body {
    margin: 0px;
    height: 100%;
    width: 100%;
    font-family: 'Enriqueta', serif;
    font-weight: 400;
    font-size: 1em;
    color: #646464;
}
.ui-widget {
    font-size: 1.0em !important;
    font-family: 'Enriqueta', serif !important;
}

.span_left {
    float: left;
    width: 370px;
    height: 100%;
}
.span_right {
    position: absolute;
    left: 370px;
    right: 0px;
    height: 100%;
}

header {
    height: 56px;
    overflow: hidden;
    width: 100%;
}

header .span_left {
    background-color: white;
    overflow: hidden;
}

header .span_right {
    height: 56px;
    color: white;
}

.base_map header .span_right a {
    color: #ffffff;
}

.base_map header .span_right a:visited {
    color: #ffffff;
}

header .auth_container {
    float: left;
}

header .auth_container td {
    padding: 1px;
}

.base_map header .span_left {
    border-top-right-radius: 70px 70px;
}

.base_page header #languages {
    margin-right: 100px;
}

#city_logo {
    position: relative;
    font-family: sans-serif;
    left: 40px;
    width: 300px;
    padding: 2px;
}

#city_name {
    font-size: 1.875em;
    cursor: pointer;
}

#blurb {
    font-size: 0.675em;
    color: #C0C0C0;
    font-weight: bold;
    position: relative;
    bottom: 0.3em;
    left: 91px;
}

header .span_right {
    padding: 5px;
}
header .span_right .login {
    display: inline-block;
    width: 50%;
}

#languages {
    width: 100px;
    float: right;
}

#languages a {
    display: block;
    font-size: 0.75em;
}

#main {
    position: absolute;
    bottom: 40px;
    top: 56px;
    width: 100%;
    background-color: white;
    border-bottom-left-radius: 70px 70px;
    overflow: hidden;
}

#main .span_left {
    overflow-y: auto;
}

#content {
    background-color: white;
    margin-top: 2em;
    margin-bottom: 2em;
}
#content p {    
    padding-right: 10px;
    padding-left: 42px;
    font-family: 'Enriqueta', serif;
    font-weight: 400;
    font-size: 1em;
    color: #646464;
}
#content label {
    font-family: 'Enriqueta', serif;
    font-weight: 400;
    font-size: 1em;
    color: #646464;
}
#content h2 {
    padding: 0px;
    margin: 0px;
    text-transform: uppercase;
    font-size: 1.2em;
    font-family: 'Signika Negative', sans-serif;
    font-weight: 200;
}
#content h3 {
    padding: 0px;
    margin: 0px;
    font-family: 'Enriqueta', serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1em;
}
#content h4 {
    padding-left: 42px;
    text-transform: uppercase;
    font-size: 1.1em;
    font-family: 'Signika Negative', sans-serif;
    font-weight: 200;
}

#map {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
/* ie 7 fix for openlayers */
.lt-ie8 .olMapViewport {
    position: absolute !important;
}

footer {
    position: absolute;
    bottom: 0%;
    height: 40px;
    overflow: hidden;
    width: 100%;
}

footer .span_left {
    padding: 10px;
}

footer a {
    color: #ffffff;
}
footer a:visited {
    color: #ffffff;
}

#feedback {
    background: url("../img/icons.png") no-repeat scroll -1px -79px transparent;
    color: white;
    padding-left: 23px;
}

footer .span_right {
    padding: 10px;
}

#logo {
    float: right;
    max-width: 82px;
    max-height: 22px;
    padding-right: 10px;
}

#provider {
    float: right;
    margin-right: 20px;
    color: white;
}
.center {
    width: 50%;
    margin: 0 auto;
}

ul.breadcrumb {
    padding: 0px;
    height: 36px;
    margin: 0 0 1em 0;
}
ul.breadcrumb li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.375em;
    vertical-align: middle;
    font-family: 'Signika Negative', sans-serif;
    font-weight: 200;
}
.lt-ie8 ul.breadcrumb li h2 {
    position: relative;
    bottom: 73px;
    left: 42px;
}
ul.breadcrumb li.disk {
    background-image: url("../img/dashdisk_hover.png");
    background-position: -8px;
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
    vertical-align: middle;
}
ul.breadcrumb li.hover {
    cursor: pointer;
}
ul.breadcrumb li.hover:hover {
    background-image: url("../img/dashdisk_base.png");
}
ul.breadcrumb li.active {
    color: white;
    font-family: 'Enriqueta', serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
    vertical-align: middle;
    padding-top: 7px;
    padding-bottom: 7px;
    position: relative;
    right: 6px;
}
ul.breadcrumb li.separator {
    background-color: white;
    height: 100%;
    width: 3px;
    position: relative;
    right: 6px;
}